.books {
  align-self: center;
  margin: 0 auto;
  padding: 5rem;
  text-align: center;
  background: linear-gradient(#9abcccc2, #9abcccc2),
    url(../movies/renee-fisher-1419908-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  color: white;
  height: 100%;
  width: 100%;
}
.books form {
  margin: 1rem;
}
.books p {
  margin: 1rem;
}
